---
import { SITE } from 'astrowind:config';
---

<a class="flex items-center" href="/">
  <img 
    src="/images/NovaArx-Logo.png" 
    alt="NovaArx Logo" 
    class="w-auto h-20 md:h-24" 
  />
</a>
